body{
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Amatic SC', cursive, sans-serif;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #000000;
    width: 390px;
    border: 2px solid #ae00ff;
    border-radius: 15px;
    overflow: hidden;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    border: 4px solid #18b1a4;
}

.cartao .minhas-informacoes .nome{
    font-size: 10px;
}

.cartao .minhas-informacoes .cargo{
    font: size 5px;
    color: #b8bbc5;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 32px;
}

.cartao .abas .aba.selecionada{
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}
/***********************************************/
.informacoes-abas .informacao{
    min-height: 270px;
    padding: 15px;
    display: none;
}
/***********************************************/
.informacoes-abas .informacao.selecionada{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    color: #a760c9;
}

.informacoes-abas .descricao{
    font-size: 23px;
    font-weight: bolder;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #18b1a4;
    font-style: oblique;
    font-weight: bolder;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-height: 200px;
    min-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a{
     width: 250px;
     display: block;
     color: #f3f3f3;
     text-align: center;
     padding: 10px;
     font-size: 20px;
     font-weight: bolder;
     transition: opacity 0.3s ease-in-out;
}

.redes-sociais .curriculo{
    background-color: #06c185;
}

.redes-sociais .linkedin{
    background-color: #1d87bd;
}

.redes-sociais .github{
    background-color: #545454;
}

.redes-sociais li a:hover{
    opacity: 0.7;
    transform: scale(1.03);
    transition: 1s all;
}

p{
    padding-top: 9px;
}